{% extends 'public/base_cpanel.html' %}
<!-- Cambiando el título -->
{% block title %}Crud con Python 🐍 | Registrar Nueva Pelicula{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!-- Inicio del bloque -->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if respuestaPelicula|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-peliculas">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DE LA PELÍCULA
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="{{ url_for('actualizarPelicula', id = respuestaPelicula.id_pelicula ) }}"
        autocomplete="off"
        enctype="multipart/form-data">
        <input
          type="text"
          class="form-control"
          name="id_pelicula"
          value="{{ respuestaPelicula.id_pelicula }}"
          required
          hidden />

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="titulo_pelicula" class="form-label">
                Título de la película
              </label>
              <input
                type="text"
                name="titulo_pelicula"
                value="{{ respuestaPelicula.titulo_pelicula }}"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="categoria_pelicula" class="form-label">
                Categoría de la película
              </label>
              <input
                class="form-control"
                type="text"
                name="categoria_pelicula"
                value="{{ respuestaPelicula.categoria_pelicula }}"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="ano_estreno" class="form-label">
                Año de estreno
              </label>
              <input
                class="form-control"
                type="number"
                name="ano_estreno"
                value="{{ respuestaPelicula.ano_estreno }}"
                required />
            </div>
            <div class="col-md-6">
              <label for="duracion_minutos" class="form-label">
                Duración (en minutos)
              </label>
              <input
                class="form-control"
                type="number"
                name="duracion_minutos"
                value="{{ respuestaPelicula.duracion_minutos }}"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="descripcion" class="form-label">
                Descripción de la película
              </label>
              <textarea
                class="form-control"
                name="descripcion"
                rows="4"
                required>{{ respuestaPelicula.descripcion }}</textarea>
            </div>
            <div class="col-md-6">
              <label for="director" class="form-label">
                Director de la película
              </label>
              <input
                class="form-control"
                type="text"
                name="director"
                value="{{ respuestaPelicula.director }}"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="presupuesto" class="form-label">
                Presupuesto de la película
              </label>
              <input
                class="form-control"
                type="text"
                name="presupuesto"
                value="{{ respuestaPelicula.presupuesto }}"
                id="presupuesto"
                required />
            </div>
            <div class="col-md-6">
              <label for="" class="form-label"> PÓSTER DE LA PELÍCULA </label>
              <br />
              <img
                src="/static/posters_peliculas/{{ respuestaPelicula.poster_pelicula }}"
                style="width: 150px"
                alt="{{ respuestaPelicula.titulo_pelicula }}" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="" class="form-label">
                ACTUALIZAR EL PÓSTER DE LA PELÍCULA
              </label>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    name="poster_pelicula"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"><i class="bi bi-pen"></i></label>
                </div>
                <div class="avatar-preview">
                  {% set url_avatar= url_for('static', filename
                  ='assets/img/avatar.png') %}
                  <div
                    id="imagePreview"
                    style="background-image: url('{{ url_avatar }}')"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe la película</h3>
    </div>
  </div>

  {% endif %}
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}

